.auto-hide-scrollbar {
  mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 4px, black 4px);
  mask-size: 100% 20000px;
  mask-position: left bottom;
  -webkit-mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 4px, black 4px);
  -webkit-mask-size: 100% 20000px;
  -webkit-mask-position: left bottom;
  transition: mask-position 0.5s, -webkit-mask-position 0.5s;
}

.auto-hide-scrollbar:hover {
  mask-position: left top;
  -webkit-mask-position: left top;
}

.no-bg-color-icon::after {
  background-color: transparent !important;
}

.scrollPanel:not(.disabled):hover {
  background-color: #F5F5F5;
}
