/* table row drag transition */
.flip-chip-move {
  transition: transform 0.5s;
}
.no-move {
  transition: transform 0s;
}
.draggable-hover i.data-table-draggable {
  display: none;
}
.draggable-hover:hover i.data-table-draggable {
  display: inline-block;
}
.draggable-drag i.data-table-draggable {
  display: inline-block;
}
.ghost {
  opacity: 1;
  background: #FFF8E1;
}
.ghost-dark {
  opacity: 1;
  background: #546E7A;
}
// td.card-input .v-input {
//   font-size: 0.875rem;
// }
// td .v-text-field {
//   font-size: 0.875rem;
// }
// td .v-select {
//   font-size: 0.875rem;
// }
